<div class="container">
  <p-menubar class="flex mb-2 menu-bar" styleClass="menu-bar" [model]="items">
    <ng-template pTemplate="start">
      <label class="flex mr-2">{{ userName }}</label>
    </ng-template>
  </p-menubar>
  <div class="flex flex-row" style="width: 100%; height: 100%">
    <p-panel
      class="panel-element mr-2"
      styleClass="panel-sc panel-sc-large"
      header="Fields"
    >
      <app-map></app-map>
    </p-panel>
    <div class="flex flex-column" style="width: 70%; max-width: 25vw">
      <p-panel
        class="panel-element mb-2"
        styleClass="panel-sc"
        header="Drones"
      ></p-panel>
      <p-panel
        class="panel-element"
        styleClass="panel-sc"
        header="Pesticides"
      ></p-panel>
    </div>
  </div>
</div>
