<div class="container">
  <p-menubar class="flex mb-2 menu-bar" styleClass="menu-bar" [model]="items">
    <ng-template pTemplate="start">
      <label class="flex mr-2">{{ userName }}</label>
    </ng-template>
  </p-menubar>
  <div class="flex flex-row" style="width: 100%; height: 100%">
    <p-panel
      class="panel-element mr-2"
      styleClass="panel-sc panel-sc-large panel-map icon-header"
      header="Fields"
    >
      <p-tabView
        class="flex tab-panel"
        styleClass="tab-panel-sc"
        [activeIndex]="currentIndex"
      >
        <p-tabPanel
          *ngFor="let mapObject of mapObjects"
          [header]="mapObject.mapTitle"
        >
          <app-map [initializeMapObject]="mapObject"></app-map>
        </p-tabPanel>
      </p-tabView>
      <ng-template pTemplate="icons">
        <button class="p-panel-header-icon p-link mr-2" (click)="maximizeMap()">
          <span
            [class]="
              settingsComponentsOpen
                ? 'pi pi-window-maximize'
                : 'pi pi-window-minimize'
            "
          ></span>
        </button>
      </ng-template>
    </p-panel>
    <div
      class="flex flex-column"
      style="width: 70%; max-width: 25vw"
      *ngIf="settingsComponentsOpen"
    >
      <div class="panel-element" *ngIf="settingsComponentsOpen">
        <app-drone-controller
          [mapObject]="mapObjects[currentIndex]"
        ></app-drone-controller>
      </div>
      <div class="panel-element" *ngIf="settingsComponentsOpen">
        <app-pesticide-controller
          [overviewObject]="{
            allPesticides: allPesticides,
            field: mapObjects[currentIndex],
          }"
        ></app-pesticide-controller>
      </div>
    </div>
  </div>
</div>
