.map {
  height: 100%;
  background-color: black;
  width: 100%;
  border-radius: 3px;
}

.map-container {
  height: 100%;
  width: 100%;
}

.toolbar {
  width: 100%;
}

::ng-deep .toolbar .p-toolbar {
  width: 100%;
  padding: 0.7rem;
}
