<p-panel
  class="panel-element"
  styleClass="panel-sc"
  header="Allowed Pesticides"
>
  <p-accordion [activeIndex]="0">
    <p-accordionTab
      [header]="category.name"
      *ngFor="let category of overviewObject.allPesticides"
    >
      <div
        *ngFor="let pesticide of category.pesticides"
        class="flex flex-row gap-2 mb-2"
        style="width: 100%"
      >
        <div class="flex pesticide-value justify-content-center">
          <span>{{ pesticide.stockValue + "L" }}</span>
        </div>
        <span class="pesticide-name">{{ pesticide.name }}</span>
        <p-checkbox
          [(ngModel)]="pesticide.currentStatus"
          class="flex p-1"
          [binary]="true"
          inputId="binary"
          (onChange)="refreshStatus(pesticide)"
        ></p-checkbox>
      </div>
    </p-accordionTab>
  </p-accordion>
  <p-button
    class="flex mt-2 add-button"
    label="Manage Pesticides"
    [outlined]="true"
    icon="pi pi-list"
    size="small"
    [style]="{ width: '100%' }"
    (click)="show()"
  >
  </p-button>
</p-panel>
